---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import config from '../content/config/config.json';
import client from '../../tina/__generated__/client';
import HomePage from "../../tina/pages/HomePage.tsx";
import { getCollection } from 'astro:content';
const data = await client.queries.page({relativePath: "home.mdx"});

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={config.seo.title} description={config.seo.description} />
	</head>
	<body>
		<Header />
		<HomePage {...data} client:tina posts={posts} />
		<Footer />
	</body>
</html>
